<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rubem Smart Gas Sensor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ url_for('static', filename='dist/css/vendor/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
	<link rel="stylesheet"
    href="{{ url_for('static', filename='dist/css/flat-ui.css') }}">

    <!-- Loading DOC css -->
	<link href="{{ url_for('static', filename='assets/css/docs.css') }}" rel="stylesheet">
	
	<style>
		#status {
			color: #E74C3C;
		}
		
		#status2 {
			color: green;
			display: none;
		}
		
		body {
			text-align: center;
	</style>
	
  </head>
  <body>

    <div class="container">
        <h1>Status: <span id="status">{{ berita }}</span></h1>
        <!-- Default switch -->
		<a href="/turnOff" id="button1" data-toggle="tooltip" title="Matikan alarm!" class="btn btn-embossed btn-danger">Matikan</a>
		<a href="/turnOn" id="button2" data-toggle="tooltip" title="Nyalakan Alarm!" class="btn btn-embossed btn-success">Nyalakan</a>
		<a href="/" id="button3" data-toggle="tooltip" title="Cek statusnya!" class="btn btn-embossed btn-warning">Cek Status</a>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.3.3/video.js"></script>

	<script src="{{ url_for('static', filename='dist/scripts/flat-ui.js') }}"></script>
	
    <script src="{{ url_for('static', filename='assets/js/prettify.js') }}"></script>
    
    <!-- <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script> -->
	<script src="{{ url_for('static', filename='assets/js/application.js') }}"></script>
	
	
  </body>
</html>
